@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.woff);
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p,
ul,
li,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.welcome-page {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.header-welcome {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  display: block;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu {
  padding-top: 31px;
  padding-bottom: 31px;
}

.menu-list {
  display: flex;
  flex-direction: row;
}

.list-item {
  margin-right: 22px;
}

.list-item:last-child {
  margin-right: 0;
}

.item-link {
  color: #72787d;
}

.item-link:hover {
  color: #036fc7;
}

.btn-demo-header {
  border-radius: 4px;
  border: none;
  padding: 9px 20px;
  color: #fff;
  background-color: #212b31;
  cursor: pointer;
}

.container-wrapper {
  max-width: 1056px;
  margin-right: auto;
  margin-left: auto;
}

.welcome-title {
  max-width: 830px;
  margin-right: auto;
  margin-left: auto;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-weight: normal;
  padding: 80px 0 20px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 330px;
  margin-right: auto;
  margin-left: auto;
}

.btn-demo {
  font-size: 18px;
  border-radius: 4px;
  border: none;
  padding: 14px 25px;
  color: #fff;
  background-color: #212b31;
  cursor: pointer;
}

.btn-more {
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #dadedf;
  padding: 14px 25px;
  color: #212b31;
  background-color: #fff;
  cursor: pointer;
}

.btn-more:hover,
.btn-demo-header:hover,
.btn-demo:hover {
  background-color: #036fc7;
  color: #fff;
}

.img-wrapper {
  margin-top: 88px;
}

.bg2 {
  transition: all 2s ease-in-out;
}

.bg2:hover {
  transform: translateX(250px);
}

/* /WELCOME PAGE */

/* MAIN PAGE */

/* ABOUT US */

.about-us {
  padding-top: 150px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.benefits-item {
  text-align: center;
  margin-right: 30px;
  position: relative;
  width: calc(100% / 3);
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  z-index: 2;
  width: 50px;
  height: 50px;
  top: -60px;
  left: 135px;
}

.benefits-first::before {
  background-image: url(../svg/benefit1.svg);
}

.benefits-second::before {
  background-image: url(../svg/benefit2.svg);
}

.benefits-third::before {
  background-image: url(../svg/benefit3.svg);
}

.benefits-img {
  margin-bottom: 20px;
}

.benefits-title {
  font-size: 18px;
  line-height: 24px;
  color: #212b31;
  margin-bottom: 10px;
}

.benefits-text {
  line-height: 24px;
  color: #72787d;
}

/* SECOND */

.second {
  text-align: center;
  padding: 50px 0 100px;
}

.box-title {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  margin-bottom: 15px;
  color: #212b31;
}

.box-text {
  font-size: 20px;
  line-height: 32px;
  color: #72787d;
}

.second-img {
  margin-top: 40px;
}

/* /SECOND */

/* THIRD */
.third > .box-title {
  text-align: center;
}

.care {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
}

.care-box {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.care-text {
  position: relative;
}

.care-text::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 200px;
  height: 15px;
  top: 10px;
  left: 15px;
  background: #ffd042;
}

/* /THIRD */

/* clients */

.clients {
  margin-top: 50px;
  border-top: 1px solid #eef2f3;
  border-bottom: 1px solid #eef2f3;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 56px;
}

.clients-item {
  margin-right: 31px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.clients-item:last-child {
  margin-right: 0x;
}

/* /clients */

/* section /ABOUT US */

/* section PRODUCT */
.product {
  margin-top: 120px;
}

.product-description,
.delivery-description,
.reliability-description {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.product-process-list {
  display: flex;
  flex-direction: column;
}

.product-item {
  margin-bottom: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-box-title,
.delivery-box-title,
.benefits-item-title,
.reliability-item-title {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 19px;
  color: #212b31;
}

.product-box-text,
.delivery-box-text,
.benefits-item-text,
.reliability-item-text {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #72787d;
}

/* /product */

/* section delivery */

.delivery {
  padding-bottom: 100px;
}

.delivery-process-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 43px;
}

.delivery-item {
  display: flex;
  box-sizing: border-box;
  width: calc(100% / 3 - 20px);
  margin-bottom: 33px;
}

.delivery-box-img {
  margin-right: 16px;
}

.delivery-text {
  font-size: 20px;
  line-height: 32px;
  color: #212b31;
  margin-top: 28px;
  text-align: center;
}

.delivery-text span {
  position: relative;
}

.delivery-text span::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 285px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #ffd042;
}

/* /delivery */

/* reliability */
.reliability {
  margin-bottom: 125px;
}

.reliability-title {
  position: relative;
}

.reliability-title::after {
  position: absolute;
  content: "";
  background-image: url(../svg/icon-reliability.svg);
  background-repeat: no-repeat;
  z-index: -1;
  width: 45px;
  height: 45px;
  top: -19px;
  right: 257px;
}

.reliability-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 115px;
}

.reliability-item {
  text-align: center;
  margin-right: 30px;
  position: relative;
  width: calc(100% / 3);
}

.reliability-item:last-child,
.new-features-item:last-child {
  margin-right: 0;
}

.reliability-item::before,
.new-features-item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  z-index: 2;
  width: 50px;
  height: 50px;
  top: -60px;
  left: 135px;
}

.reliability-first::before {
  background-image: url(../svg/reliability1.svg);
}

.reliability-second::before {
  background-image: url(../svg/reliability2.svg);
}

.reliability-third::before {
  background-image: url(../svg/reliability3.svg);
}

.reliability-img {
  margin-bottom: 20px;
}

.reliability-text {
  line-height: 24px;
  color: #72787d;
}

.more-info {
  position: relative;
  margin-top: 60px;
  padding: 33px 33px 47px 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f8f9;
}

.more-info::before {
  position: absolute;
  content: "";
  background-image: url(../svg/more-icon.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 45px;
  height: 45px;
  left: 65px;
}

.more-text {
  margin-right: 50px;
  font-size: 18px;
  line-height: 32px;
  color: #212b31;
}

.more-link {
  font-weight: 800;
  color: #212b31;
}

/* /reliability */

/* features */

.features {
  background-color: #212b31;
}

.features-wrapper {
  position: relative;
}

.features-wrapper::after {
  position: absolute;
  content: "";
  background-image: url(../img/bg-features.png);
  background-repeat: no-repeat;
  z-index: 2;
  width: 618px;
  height: 493px;
  top: 150px;
  right: -285px;
}

.features-title {
  color: #ffffff;
  padding-top: 140px;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
}

.features-list {
  padding-top: 50px;
  margin-right: 50px;
  max-width: 590px;
}

.features-item {
  position: relative;
  margin-bottom: 24px;
  margin-left: 40px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-item::before {
  position: absolute;
  content: "";
  background-image: url(../svg/list-disk.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 10px;
  height: 10px;
  left: -35px;
  top: 6px;
}

.features-item-title {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.features-item-text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.buttons-wrapper-features {
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  padding-top: 60px;
  padding-bottom: 150px;
}

.btn-demo-features {
  font-size: 18px;
  border-radius: 4px;
  border: none;
  padding: 14px 25px;
  background-color: #fff;
  color: #212b31;
  cursor: pointer;
}

.btn-more-features {
  font-size: 18px;
  border-radius: 4px;
  padding: 14px 25px;
  background-color: #212b31;
  border: 1px solid #dadedf;
  color: #fff;
  cursor: pointer;
}

.btn-more-features:hover,
.btn-demo-features:hover {
  background-color: #ffd042;
  color: #212b31;
}

.new-features-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 110px;
}

.new-features-item {
  text-align: center;
  margin-right: 18px;
  position: relative;
  width: calc(100% / 3);
}

.new-features-item-title {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 19px;
  color: #fff;
  text-align: center;
}

.new-features-item-text {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.new-features-first::before {
  background-image: url(../svg/feature1.svg);
}

.new-features-second::before {
  background-image: url(../svg/feature2.svg);
}

.new-features-third::before {
  background-image: url(../svg/feature3.svg);
}

/* /features */

/* process */

.process {
  padding-top: 140px;
}

.process-title {
  color: #212b31;
  font-size: 32px;
  line-height: 48px;
  font-weight: normal;
  padding-bottom: 21px;
}

.process-container {
  display: flex;
  justify-content: space-between;
}

.process-img {
  margin-top: 60px;
}

.process-wrapper {
  width: calc(100% / 2 - 25px);
}

.process-list {
  counter-reset: li;
  list-style: none;
}

.process-list li {
  position: relative;
  margin-bottom: 10px;
  padding: 4px 8px;
}

.process-list li:last-child {
  margin-bottom: 0;
}

.process-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: -50px;
  width: 40px;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 4px;
  background: #fff;
  color: #72787d;
  text-align: center;
  border: 2px solid #dadedf;
}

.process-list li:hover:before {
  border: 2px solid #72787d;
  background: #ffdd76;
}

.process-list-item,
.advantages-list-item {
  margin-bottom: 30px;
}

.process-list-item:last-child,
.advantages-list-item:last-child {
  margin-bottom: 0;
}

.process-item-title,
.advantages-list-item {
  font-size: 18px;
  line-height: 24px;
  color: #212b31;
  margin-bottom: 10px;
}

.process-item-text,
.advantages-item-text {
  font-size: 16px;
  line-height: 24px;
  color: #72787d;
}

.buttons-process {
  margin-right: 0;
  margin-left: 0;
}

/* /process */

/* advantages */

.advantages {
  padding-top: 95px;
}

.advantages-description {
  text-align: center;
}

.advantages-list-item {
  position: relative;
}

.advantages-list-item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  z-index: 2;
  width: 50px;
  height: 50px;
  left: 1px;
  top: 1px;
}

.adv-first::before {
  background-image: url(../svg/adv1.svg);
}
.adv-second::before {
  background-image: url(../svg/adv2.svg);
}
.adv-third::before {
  background-image: url(../svg/adv3.svg);
}
.adv-forth::before {
  background-image: url(../svg/adv4.svg);
}

/* /advantages */

/* REWARDS */

.rewards {
  padding: 100px 0;
}

.rewards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  max-width: 690px;
  margin-right: auto;
  margin-left: auto;
}

.rewards-item {
  max-width: 185px;
  max-height: 200px;
  margin-bottom: 45px;
  text-align: center;
}

.rewards-item:nth-child(even) {
  margin-right: 60px;
  margin-left: 50px;
}

.rewards-item:last-child {
  margin-right: 0;
  margin-left: 0;
}

/* /REWARDS */

/* DEMO */

.demo-wrapper {
  max-width: 1056px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 117px;
  background-image: url(../img/bg-demo.png);
}

.demo-title {
  max-width: 980px;
  padding: 117px 38px 54px;
  margin-right: auto;
  margin-left: auto;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-weight: normal;
}

/*  /DEMO */

/* /MAIN PAGE */

/* FOOTER  */

.footer-top {
  padding: 100px 0;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.info-item,
.info-item a {
  margin-bottom: 20px;
  color: #72787d;
}

.info-item:hover,
.info-item a:hover {
  color: #036fc7;
}

.info-item:last-child {
  margin-bottom: 0;
}

.info-item p {
  margin: 0;
}

.socials-item {
  padding-right: 30px;
}

.socials-item:last-child {
  padding-right: 0;
}

.socials-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials-link-facebook {
  background-image: url(../svg/facebook.svg);
}

.item-title a {
  color: #212b31;
}

.item-title {
  margin-bottom: 20px;
}

.footer-product-item,
.service-item,
.company-item {
  margin-bottom: 10px;
}

hr {
  height: 1px;
  background: #dadedf;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
}

.copyright-link,
.politics-link {
  color: #72787d;
}

/*  /FOOTER  */
